/* Main CSS page */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

body {
    color: white;
    background-color: #172D13;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;   
}

h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 0.5em;
}

p {
    font-size: 16px;
    margin-bottom: 1.5em;
}

p a {
    color: #D76F30;
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 20px;
    margin-bottom: 20px;
}

.feature-card {
    border: 1px solid #6bb77b;
    padding: 2px;
    margin: 10px;
    background-color: #6bb77b;
}

.feature-card h3 {
    font-size: 20px;
    color: white;
}

.feature-card p {
    margin-bottom: 10px;
    color: white;
}

#special-feature {
    background-color: #6bb77b;
    border-color: #172D13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 1px;
}


a {
    display: inline-block;
    color: #D76F30;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #D76F30;
    transition: all 0.3s ease;
    
}

a:hover {
    background-color: #D76F30;
    color: white;
}