/* Main CSS page */
body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
   font-family: Arial, Helvetica, sans-serif;
}

/* Styling the body*/
body {
    color: white;
    background-color: #172D13;
}

/* Styling the headers*/
h1 {
    font-size: 2em;
    margin-bottom: 0.5em;   
}

h2 {
    font-size: 1.5em;
    color: white;
    margin-bottom: 0.5em;
}

/* Styling paragraphs*/
p {
    font-size: 16px;
    margin-bottom: 1.5em;
}

/* Styling the link within the paragraph*/
p a {
    color: #D76F30;
    text-decoration: none;
}

/* Styling unordered list*/
ul {
    list-style-type: none;
    margin: 20px;
    margin-bottom: 20px;
}

/* General styling using a class */
.feature-card {
    border: 1px solid #6bb77b;
    padding: 2px;
    margin: 10px;
    background-color: #6bb77b;
}

/* Styling h3 within a class */
.feature-card h3 {
    font-size: 20px;
    color: white;
}

/* Styling p within a class */
.feature-card p {
    margin-bottom: 10px;
    color: white;
}

/* Specific styling using an ID*/
#special-feature {
    background-color: #6bb77b;
    border-color: #172D13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 1px;
}


/* Styling links*/
a {
    display: inline-block;
    color: #D76F30;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #D76F30;
    transition: all 0.3s ease;
}

/* Styling for the hover state*/
a:hover {
    background-color: #D76F30;
    color: white;
}